@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: 0 none;
	outline: 0;
	/*simple reset*/
}

#heroimage {
	height: 100%;
	width: 100%;
	margin: auto;
	
}

h1, h2, p {
    color: #FABCAF;
}	