@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: 0 none;
	outline: 0;
	/*simple reset*/
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	color: black;
	font-size: 16px;
	text-align: center;
}

header {
	max-width: 1200px;
	margin: auto;
	background-color: white;
	margin-bottom: 0;
	position: relative;
	z-index: 1;
	/*z-index: bringt den Header vor das Heroimage, falls die Navbar
	vor dem Heroimage (unten) sein soll*/
}

#headerlogo {
	margin-top: 8px;
	padding: 5px 10px 5px 10px;
	background-color: none;
	color: black;
	font-family: 'Cutive Mono', monospace;
	font-size: 22px;
	font-weight: 400;
	float: left;
	/*display: inline-block;*/
	/*display inline-block not necessary as float 
	turns any element in a block*/
}

nav {
	margin: 12px 0px 12px 0px;
	background-color: none;
	font-size: 16px;
	font-weight: 300;
	float: right;
}

nav a {
	padding: 2px 15px 2px 15px;
	border-left: 1px black solid;
	text-decoration: none;
	color: black;
	display: inline-block;
}

nav a:hover {
	text-decoration: underline;
	color: #E8DE46;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

#heroimage {
	background: url(../images/index_photo2.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	max-width: 100%;
	height: 40em;
	max-width: 1200px;
	margin: auto;
}

.content {
	position: absolute;
	left: 8em;
	top: 57%;
	max-width: 500px;
}

#title {
	text-align: center;
	font-weight: 300;
	width: 800px;
	line-height: 1.1;
	font-size: 60px;
	color: white;
	letter-spacing: .1em;
}

#title span {
	background-color: #E8DE46;
	opacity: 0.8;
}

.btn {
	margin-top: 2em;
	left: 40%;
	display: inline-block;
	border: 2px #E8DE46 solid;
	padding: 10px 20px;
	font-weight: 200;
	letter-spacing: .15em;
	border-radius: 1px;
	margin-left: 12em;
}

.btn a {
	text-decoration: none;
	color: white;
}

.btn a:hover {
	color: #E8DE46;
}

main {
	text-align: center;
	background-color: white;
	/*max-width: 1200px;*/
	margin: auto;
}

#why {
	padding: 1em 0 2em 0;
	background-color: white;
	max-width: 1200px;
	margin: auto;
}

.titletext {
	margin-bottom: 2em;
	padding: 0 1em 0 1em;
	color: black;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	font-weight: 400;
	max-width: 400px;
	display: inline-block;
}

.text {
	color: black;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	margin-top: 2em;
}

.column {
	float: left;
	width: 29.33%;
	padding: 2em 2%;
	margin: 0 2% 2em 2%;
	display: inline-block;
}

#column1 {
	background: #E8DE46;
}

#column2 {
	background: #E8DE46;
}

#column3 {
	background: #E8DE46;
}

h2 {
	margin: 0.5em auto 0.5em auto;
	color: black;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
}

h3 {
	color: black;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
}


hr {
    height: 1px;
    width: 200px;
	background-color: black;
	margin: 1.5em auto 2em auto;
}

ul {
	margin: 15px auto 0 20px;
	color: black;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	list-style: disc;
}

.video {
	padding-top: 2em;
}

#projects {
	padding: 1em 0 2em 0;
	background-color: #E8E4DC;
}

.wrapper {
	max-width: 1200px;
	margin: auto;
}

#projects img {
	width: 33%;
	min-width: 250px;
	opacity: 1.0;
}

#projects img:hover {
	opacity: 0.5;
}

/*.projectimage {
	width: 300px;
	height: 200px;
	margin-bottom: 10px 0 0 0;
	position: relative;
	float: left;
}*/

#team {
	padding: 1em 0 2em 0;
	background-color: pink;
}

#team img { 
	width: 250px;
	opacity: 1.0;
}

#team img:hover {
	opacity: 0.5;
}

#contact {
	padding: 1em 0 2em 0;
	background-color: #75F3DA;
}

.location {
	margin: 1em auto 1em auto;
}

#address {
	margin: 0 auto 0 auto;
}

#googlemaps {
	padding: 0 1% 0 1%;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

footer {
	text-align: center;
	background-color: blue;
}

#footernav {
	padding: 2em 0px;
	background-color: white;
	font-size: 16px;
	font-weight: 300;
	float: none;
}

#footernav a {
	padding: 2px 15px 2px 15px;
	border-left: 1px black solid;
	/*border-right: 1px black solid;*/
	text-decoration: none;
	color: black;
	display: inline-block;
}

/*#footernav: last-of-type {
	border-right: 1px black solid;
}*/

#footernav a:hover {
	color: #E8DE46;
}


#footer {
	padding: 2em 0px;
	background-color: #A9A29D;
	color: white;
	font-weight: 300;
}


