body {
  text-align: center;
  background: url("https://github.com/jamike15/jamike15.github.io/blob/master/unit_3/images/index_photo.jpg?raw=true") no-repeat center center fixed;
  background-size: cover;
  font-family: avenir, sans-serif;
  font-size: 30px;
  color: green;
}

#title {
	color: white;
	font-style: normal;
	font-family: avenir, sans-serif;
	font-size: 60px;
}

#slogan {
	color: white;
	font-style: italic;
	font-family: avenir, sans-serif;
	font-size: 30px;
	background-color: rgba(98,97,92,0.4);
}

.titletext {
	color: white;
	font-family: avenir, sans-serif;
	font-size: 20px;
	font-weight: 200;
	text-align: center;
	text-shadow: 1px 1px #62615C;
}


h1, p {
    color: white;
}

h2 {
	color: white;
	text-align: left;
	font-size: 30px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica, sans-serif;
}

hr {
    height: 1px;
    width: 200px;
	color: white;
}

ul {
	text-align: left;
	color: white;
	font-family: avenir, sans-serif;
	font-size: 20px;
	font-weight: 200;
	text-align: center;
	text-shadow: 1px 1px #62615C;
}

li

img


